<a href="https://colab.research.google.com/github/karanSingh10/Business-Analytics/blob/main/Text_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Inforation Retrival
One Hot Vector

Rome = [1, 0, 0, 0]
Paris = [0, 1, 0, 0]
Italy = [0, 0, 1, 0]
France = [0, 0, 0, 1]

Boolean method
If query is [w1, w2, w3]
Google Gmail search by [w1 OR w2 OR w3]

Term Document Incidence Matrix


> Indented block


            Doc1   Doc2   Doc3   Doc4   Doc5


> Indented block


Word1------1-------1------0------0------0

---

Word2------1-------0------1------1------0

---
Word3------1-------1------1------1------0

---

Word4------1-------1------0------0------1

e.g - If we need to find a document which contains word1, word3 but not word2

To answer this question take incidence vecgtors of word1, word3, complement of word2 and take AND of all in this case:


---

word1 = 11000


---

word2 = 10110; complement of word2 = 01001


---
word3 = 11110


---
word1 AND word2(complement) AND word3 = 11000 AND 01001 AND 11110 = 01000


---
Hence retrieve only document 2 as it contains word1, word3 and not word2

Pitfalls of this method:


> Indented block


1.) So in this case if we find all documents containing word1, word3 then filter out all documnets containing word2 then it will computationally expensive there comes Term Document Incidence Matrix and makes work easier


> Indented block


2.)Counts?


> Indented block


3.) Ranking of retrieved documents?


> Indented block

> Indented block




4.) Semantics?

But as number of terms, documents increase this method also becomes very inefficient

Term dcument frequency approach; Eucledian distance; angle with eucledian distance to take semantics into account

In [1]:
# Documents and queries

# Condier A, B, C as documents
A = "I go to ASU and work at ASU"
B = "I work at ASU"
C = "I study at ASU"
D = "We applied for a job at UA"
# Query = A user want to search documents related to ASU
query_1 = "ASU"
query_2 = "work"
query_3 = "employment"

#Search engine based on a term-doc incidence matrix
# Search engine based on term-doc incident matrices
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

#Want to understand more about CountVectorizer


---

Visit this https://kavita-ganesan.com/how-to-use-countvectorizer/#.Y-Mbjz3MLIU

In [2]:
vectorizer = CountVectorizer(token_pattern=r'\S+', binary = True) # use this to capture one-character words other wise use default; # the binary paramter is set to true to ignore 
X = vectorizer.fit_transform([A,B,C,D])
df = pd.DataFrame(X.toarray(), columns = vectorizer.get_feature_names_out(), index = ["A", "B", "C", "D"])

# print term-doc matrix
print(df)

   a  and  applied  asu  at  for  go  i  job  study  to  ua  we  work
A  0    1        0    1   1    0   1  1    0      0   1   0   0     1
B  0    0        0    1   1    0   0  1    0      0   0   0   0     1
C  0    0        0    1   1    0   0  1    0      1   0   0   0     0
D  1    0        1    0   1    1   0  0    1      0   0   1   1     0

In [3]:
# when the query is "ASU"
print(df[(df[query_1.lower()] == 1)])

   a  and  applied  asu  at  for  go  i  job  study  to  ua  we  work
A  0    1        0    1   1    0   1  1    0      0   1   0   0     1
B  0    0        0    1   1    0   0  1    0      0   0   0   0     1
C  0    0        0    1   1    0   0  1    0      1   0   0   0     0

In [ ]:
# when the query is "ASU"
print(df[(df[query_1] == 1)]) # try to be aware of these small factors that can produce errors and possibly bias your results (e.g,. if you have both "asu" and "ASU" and search for "ASU", then results with lower-cased "ASU" will not appear)

In [7]:
# when the query consists of mutliple words "ASU" and "work"
print(df[(df[query_1.lower()] == 1) & (df[query_2.lower()] == 1)])
#print(df[(df[query_1.lower()] == 1) & (df[query_3] == 1)]) # error when a new word appears # but isn't "employment" semantically close to "work"?

   a  and  applied  asu  at  for  go  i  job  study  to  ua  we  work
A  0    1        0    1   1    0   1  1    0      0   1   0   0     1
B  0    0        0    1   1    0   0  1    0      0   0   0   0     1

In [12]:
Doc1 = "Messi plays football"
Doc2 = "His room is messi"

query1 = "messi"
query2 = "football"
Vectorizer = CountVectorizer()
SMatrix = Vectorizer.fit_transform([Doc1, Doc2])
df_matrix = pd.DataFrame(SMatrix.toarray(), columns = Vectorizer.get_feature_names_out(), index = [Doc1, Doc2])

print(df_matrix)

df_matrix[(df_matrix[query1.lower()] == 1) & (df_matrix[query2.lower()] == 1)]

                      football  his  is  messi  plays  room
Messi plays football         1    0   0      1      1     0
His room is messi            0    1   1      1      0     1

                      football  his  is  messi  plays  room
Messi plays football         1    0   0      1      1     0

#Ranked retrieval of documents in vector space

Vector space similarity - Cosine similarity